# Python virtual environment
.venv/
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env
.env.local

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover